{{template "base" .}}

{{define "title"}}Домашняя страница{{end}}

{{define "main"}}
    <h2>Последние Заметки</h2>
    {{if .Notes}}
     <table>
        <tr>
            <th>Заголовок</th>
            <th>Создан</th>
            <th>ID</th>
        </tr>
        {{range .Notes}}
        <tr>
            <td><a href='/note?id={{.ID}}'>{{.Title}}</a></td>
            <td>{{.Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>Здесь ничего нет... пока что!</p>
    {{end}}
{{end}}